body {
  min-height: 100vh;
  background-image: url("/images/angler.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}
.frontlink {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}
.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  border-radius: 5px;
  width: 90%;
  background-color: rgba(17, 17, 17, 0.911);
  margin: 5vh auto;
  padding-bottom: 5vh;
  font-size: 1.2rem;
  color: white;
  list-style: none;
}

.event-item {
  margin: 0vh auto 1vh auto;
  width: 90%;
}

.event-wrap {
  display: flex;
  align-items: flex-start;
}

.events-page h1 {
  font-size: 1.7rem;
  width: 100%;
  margin: 2vh auto;
  padding-top: 3vh;
  text-align: center;
}

.event-item p {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  flex: 1;
  order: 1;
  padding-right: 15px;
}

.event-img {
  border-radius: 8px;
  justify-content: center;
  text-align: left;
  max-width: 400px;
  order: 2;
  border: 2px solid white;
  margin: auto 15px auto 10px;
}

.event-item h2 {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  color: white;
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
}

.event-item h3 {
  margin: 0.5vh 0;
  font-size: 1.2rem;
}

hr {
  height: 2px;
  background-color: white;
  margin: 20px 0;
  opacity: 0.5;
  width: 90%;
}

.info-box {
  background-color: rgba(17, 92, 107, 0.664);
  color: white;
  padding: 20px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  line-height: 1.8;
  width: 80%;
}

.info-box .em {
  font-weight: 700;
}

.info-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-box li {
  font-size: 1.2rem;
  margin: 10px 0px;
}

.info-box li strong {
  font-size: 1.3rem;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-box li em {
  display: inline-block;
  font-style: italic;
  margin-right: 5px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  .events-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .event-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .event-item h2 {
    text-align: left;
    margin: 10px auto;
    width: 95%;
  }
  .event-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .event-item p {
    text-align: left;
    margin: 10px auto;
    padding: 10px 0;
    width: 95%;
  }
  .event-img {
    height: auto;
    min-width: 90%;
    margin: 15px 0;
    padding: 0;
  }
  @media (max-width: 500px) {
    .event-img {
      max-width: 95%;
    }
  }
}
