body {
    margin: 0;
    font-family: 'Lucida Sans';
    line-height: 1.5;
    letter-spacing: 3;
    background-color: rgb(28, 28, 28);
    color: #fff; 
}

header {
    background-color: #000;
    color: #fff;
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    min-height: 65px;
}

.logo img {
    height: 65px;
    width: auto;
    justify-content: center;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    margin: 0 20px;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Lucida Sans';
    letter-spacing: 3;
}

.navbar li a:hover {
    color: #c02f2f;
}

main {
  padding: 10px;
    color: #fff;
  }
  
  .recteam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    max-width: 950px; /* Updated max-width */
    margin: 0 auto; /* Center-align the content */
    margin-top: 0;
  }

  .recteam-content {
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 15pt;
  }
  
  .recteam .recteam-content p {
    margin: 0; /* Remove default margin */
    margin-bottom: 20px; /* Add margin-bottom for spacing between paragraphs */
  }
  
  .joessunset img {
    height: auto;
    width: 100%;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #161515;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    color: #d96c6c;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .outdoor-trips-content {
    display: flex;
    align-items: flex-start;
  }
  
  .outdoor-trips-content p {
    flex: 1;
    margin-right: 20px;
  }
  
  .outdoor-trip-photo {
    width: 300px;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  .practices-content {
    display: flex;
    align-items: flex-start;
  }

  .practices-photo {
    width: 600px;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  
  .practices-content p {
    margin-bottom: 20px; /* Add space between paragraphs */
  }
  
  
/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #000;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar.active {
        display: flex;
    }

    .navbar li {
        margin: 15px 0px 15px 0px;
        text-align: center;
    }
    
    .logo img {
      height: 50px;
      margin-left: 10px;
    }

    header {
    padding-left: 0;
    }

    .recteam-content {
      align-items: center;
      text-align: center;
    }

    .outdoor-trips-content {
      flex-direction: column;
      align-items: center;
    }
    
    .outdoor-trip-photo {
      width: 400px;
      height: auto;
      margin-left: 0px;
      margin-bottom: 10px; /* Adjust margin as needed */
    }

    .practices-content {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center-align items */
    }

    .practices-photo {
      width: 500px;
      height: auto;
      align-items: center; /* Center-align items */
        }
  
}